
.Search{
  background-color:brown;
  align-items: center;
  align-content: center;
  padding: 80px;
}
.Search h1{
  margin-left: 38%;
  color: white;
}
.btn{
  background-color: rgba(73, 19, 19, 0.026);
  color:white;
  font-size: 40px;
  border-color: white solid;
  border-radius:5px ;

}

.input{
  margin-left: 25%;
  font-size: 40px;
  border-color: white solid;
  border-radius:5px ;

}
.Search p{
  font-size: 20px;
  color: white;
}
.Search a{
  font-size: 20px;
  color: white;
}
.Search img{
  width: 200px;
  height: 200px;
  border-radius:100px;
  margin-left: 43%;
}